@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    background-color: rgb(16, 16, 124);
    letter-spacing: 2px;
    word-spacing: 3px
}
h1 {
    margin-top: 50px;
   text-align: center;
   
}
.center {
display: block;
text-align: center;
}
.container {
    border: 5px solid aliceblue;
    background-color: rgba(80, 80, 120, 0.808);
    margin: 60px auto;
    max-width: 70%;
}

.container label, div, button {
    display: block;
    margin: 20px auto;
    text-align: center;
    
}

.container label, p {
    font-size: 1.5rem;
    text-align: center;
}

.container input {
    width: 70%;
    outline: none;
}

.container button {
    padding: 4px 15px;
    letter-spacing: 1px;
}
.container2 {
    display: none;
    border: 5px solid aliceblue;
    background-color: rgba(80, 80, 120, 0.808);
    margin: 60px auto;
    max-width: 70%;
}